{% for option in options %}
<input id="{{ nth }}checkbox{{ loop.index }}" type="checkbox">
<label for="{{ nth }}checkbox{{ loop.index }}">{{ option | nth(n=1) }}</label>
<br>
{% endfor %}

<details onclick="{
    const expected = [
        {% for option in options %}
        document.getElementById('{{ nth }}checkbox{{ loop.index }}truth').checked,
        {% endfor %}
    ];
    const obtained = [
        {% for option in options %}
        document.getElementById('{{ nth }}checkbox{{ loop.index }}').checked,
        {% endfor %}
    ];
    console.log(expected);
    console.log(obtained);
    console.log(expected === obtained);
}">
<summary>Answer</summary>
<blockquote>

{% for option in options %}
<input disabled {% if option | nth(n=0) %} checked {% endif %} id="{{ nth }}checkbox{{ loop.index }}truth" type="checkbox">
<label for="{{ nth }}checkbox{{ loop.index }}truth">{{ option | nth(n=1) }}</label>
<br>
{% endfor %}


</blockquote>
</details>
