<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}effortless.{% endblock title %}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        processEnvironments: false,
      },
    };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    {% block headers %}{% endblock headers %}
  </head>
  <body>
    <header>
    <nav>
        <a href="/">index.</a>
        <a href="/why">why the effort?</a>
        <a href="/learning">the process of learning.</a>
        |
        <a href="/scratch">scratch.</a>
        |
        <a href="/structure">structure.</a>
        <a href="/open">open.</a>
        <a href="/create">create.</a>
        <a href="/graph">graph.</a>
        <a href="/other_sorts">other_sorts.</a>
        |
        <a href="/db">db.</a>
        |
    </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
